body {
  background-color: antiquewhite;
  text-align: center;
}
body.theme-dark {
  background-color: black;
  color: white;
}

#divs {
  margin: auto;
  width: 500px;
  height: 500px;
  font-size: 30px;
}
